{% extends 'tracker/base.html' %}
{% load widget_tweaks %}
{% block title %}
Quotation Tracker
{% endblock %}
{% block content %}



  <form action="{% url 'underwriterqoutation' qout.id %}"  method="post" >
  {% csrf_token %}
  
<div class="card m-l-10 m-r-10 m-t-10 m-b-10" >
  <div class="card-header" >
    <h2> Quotation # {{qout.Quot_No}}/{{qout.id}}-0{{qout.Max_Rev_No}}</h2>
<table>
      <tbody>
        <tr>
          <td><h3> Status: {{qout.Quotation_Status}}</h3></td>
        </tr>
        <tr>
          <td><h3> Comments: {{qout.Comments_Remarks}}</h3></td>
        </tr>
      </tbody>
    </table>
    <input type="submit" class="btn btn-cyan" value="submit" >
          {% if has_roles is True %}
    <a type="button" class="btn btn-blue-grey" href="{% url 'superinbox' %}">Cancel</a>
    {% else %}
      <a type="button" class="btn btn-blue-grey" href="{% url 'inbox' %}">Cancel</a>
      {% endif %}
      {% comment %}
    <a type="button" class="btn btn-blue-grey" href="{% url 'unlock_qoutation' qout.id %}">Cancel</a>
      {% endcomment %}
    <a class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">History</a>

<div class="dropdown-menu">

   {% for his_qout in history %}
  <a class="dropdown-item" href="{% url 'history' his_qout.id %}">{{forloop.counter}}</a>
  {% endfor %}
</div>
    {{ form.non_field_errors }}

  </div>
  <div class="card-body" >

  <div >
    <div class="row">
  <div>
        <div class="card m-t-10 m-l-10 m-r-10 m-b-10 " style="display: inline-block;">
			  		<div class="card-header">
			    		Quotation Information
			 		</div>
			 	  <div class="card-body">
          <table>
            <tbody>
              <tr>
                <td>

                  <label class="h4-responsive" >Qoutation #</label>
                </td>
                <td>

                                    <label class="font-weight-normal h4-responsive"> {{qout.Quot_No}}/{{qout.id}} -0{{qout.Max_Rev_No}} </label>

                </td>
              </tr>

              <tr>
                <td>
                 <label class="h4-responsive" >Revision No</label>
                </td>
                <td>
                                    <label class="font-weight-normal h4-responsive"> {{qout.Max_Rev_No}}  </label>
                </td>
              </tr>

              <tr>
                <td>
                 <label class="h4-responsive" >Policy Type</label>
                </td>
                <td>

                                    <label class="font-weight-normal h4-responsive"> {{qout.Policy_Type}}  </label>

                </td>
              </tr>

              <tr>
                <td>

               <label class="h4-responsive" >Sub Policy Type</label>
                </td>
                <td>
                  {{ qout.Sub_Policy_Type }}
                </td>
              </tr>

              <tr>
                <td>
                  <label class="h4-responsive" >Branch</label>
                </td>
                <td>
                                    <label class="font-weight-normal h4-responsive"> {{qout.Branch}}  </label>

                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Quotation_Status.errors }}
                  <label class="h4-responsive" for="{{ form.Quotation_Status.id_for_label }}">{{form.Quotation_Status.label}}</label>
                </td>
                <td>
                            {{ form.Quotation_Status|add_class:"form-control "|attr:"onchange:statusChanged()" }}
                </td>
              </tr>

              <tr>
                <td>
                  <label class = "h4-responsive" > Quotation Date </label>
                </td>
                <td>

                                    <label class="font-weight-normal h4-responsive"> {{qout.Quotation_Date}}  </label>
               </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive" >Inception Date</label>
                </td>
                <td>

                  {{ qout.Inception_Date }}
                </td>
              </tr>
            </tbody>
          </table>
</div>
		     	 </div>

    <br>

    <div class="card m-t-10 m-l-10 m-r-10 m-b-10 " style="display: inline-block;">
  					<div class="card-header">
    					Customer Contact Information
  					</div>
  					<div class="card-body">
              <table>
            <tbody>
              <tr>
                <td>

              <label class="h4-responsive" >Salesman Name</label>
                </td>
                <td>

                                    <label class="h4-responsive"> {{qout.Name_of_Salesman}}  </label>

                </td>
              </tr>

              <tr>
                <td>
                 <label class="h4-responsive" >Type of Producer</label>
                </td>
                <td>
                  {{ qout.Type_of_Producer }}
                </td>
              </tr>


              {% if qout.Type_of_Producer.id == 2 %}
              <tr>
                <td>

               <label class="h4-responsive" >Broker</label>
                </td>

                <td>
                                    {{ qout.broker}}

                </td>
              </tr>
              {% elif qout.Type_of_Producer.id == 4 %}
              <tr>
                <td>

               <label class="h4-responsive" >POS</label>
                </td>
                <td>
                            {{ qout.pos }}

                </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive">POS Location</label>
                </td>
                <td>
                            {{ qout.pos_location}}

                </td>
              </tr>
              {% endif %}



              <tr>
                              {{cr_exists}}

                <td>
               <label class="h4-responsive" >CR Number</label>
                </td>
                <td>
                  {{ qout.CR_No }}
                </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive" >Client Name</label>
                </td>
                <td>
                  {{ qout.Client_Name }}
                </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive" >Client Contact Person</label>
                </td>
                <td>
                  {{ qout.Client_Contact_Person }}
                </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive" >Client Contact Email</label>
                </td>
                <td>
                  {{ qout.Client_Contact_Email }}
                </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive" >Client Contact Phone</label>
                </td>
                <td>
                  {{ qout.Client_Contact_Phone }}
                </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive" >Company Size</label>
                </td>
                <td>
                  {{ qout.Company_size }}
                </td>
              </tr>

              <tr>
                <td>
               <label class="h4-responsive" for="   {{ form.Current_Insured.id_for_label }}">Incumbent Insurer </label>
                </td>
                <td>
                  {{ qout.Current_Insured }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Prior_Year_Insured.errors }}
               <label class="h4-responsive" for="   {{ form.Prior_Year_Insured.id_for_label }}">Prior Year Insurer </label>
                </td>
                <td>
                  {{ qout.Prior_Year_Insured }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Prior_Two_Year_Insured.errors }}
               <label class="h4-responsive" for="   {{ form.Prior_Two_Year_Insured.id_for_label }}">Prior Two-Year Insurer </label>
                </td>
                <td>
                  {{ qout.Prior_Two_Year_Insured }}
                </td>
              </tr>

              {% if policy_type.id == 1 or policy_type.id == 2 %}
              <tr>
                <td>
                  {{ form.No_of_Lives_or_vehicle.errors }}
                  {% if policy_type.id == 1  %}
               <label class="h4-responsive" for="   {{ form.No_of_Lives_or_vehicle.id_for_label }}">Quotation No. of Vehicles</label>
               {% else %}
               <label class="h4-responsive" for="   {{ form.No_of_Lives_or_vehicle.id_for_label }}">Quotation No. of Lives</label>
               {% endif %}
                </td>
                <td>
                  {{ qout.No_of_Lives_or_vehicle }}
                </td>
              </tr>
              {% endif %}

              <tr>
                <td>
                  {{ form.Client_Target.errors }}
                <label class="h4-responsive" for="  {{ form.Client_Target.id_for_label }}">Client Target Premium  </label>
                </td>
                <td>
                  {{ qout.Client_Target }}
                </td>
              </tr>

            </tbody>
          </table>



  					</div>
				</div>
<div class="card m-t-10 m-l-10 m-r-10 m-b-10" >
            <div class="card-header">
              Comments And Remarks
            </div>
            <div class="card-body">
        <table>
          <tbody>
            <tr>
              <td>
                                  <label id="errors_comments_Remarks" style="color: red;"></label>

              </td>
            </tr>
            <tr>
                <td>
                  {{ form.Comments_Remarks.errors }}
                <label class="h4-responsive" for="  {{ form.Comments_Remarks.id_for_label }}">{{form.Comments_Remarks.label}}</label>
                </td>
                <td>
                  {{ form.Comments_Remarks|add_class:" form-control " }}
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  {% if policy_type.id == 1 or policy_type.id == 2 %}
      <div class="card m-t-10 m-l-10 m-r-10 m-b-10" style="display: inline-block;">
  
				  	<div class="card-header">
				    		Quotation Technicial Information
            </div>
  					<div class="card-body">
                 <table>
            <tbody>
              <tr>
                <td>
                 <label class="h4-responsive" for=" {{ form.Name_of_Underwriter.id_for_label }}">{{form.Name_of_Underwriter.label}}</label>
                </td>
                <td>

                     <label class="font-weight-normal h4-responsive">{{user}}</label>
                       
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Commission.errors }}
                 <label class="h4-responsive" for=" {{ form.Commission.id_for_label }}">{{form.Commission.label}}</label>
                </td>
                <td>
                  {{ form.Commission|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Loading.errors }}
                <label class="h4-responsive" for="  {{ form.Loading.id_for_label }}">{{form.Loading.label}}</label>
                </td>
                <td>
                  {{ form.Loading|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Loading_Discount.errors }}
                <label class="h4-responsive" for="  {{ form.Loading_Discount.id_for_label }}">Loading Discount</label>
                </td>
                <td>
                  {{ form.Loading_Discount|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Claim_Discount.errors }}
                <label class="h4-responsive" for="  {{ form.Claim_Discount.id_for_label }}"> Claim Discount</label>
                </td>
                <td>
                  {{ form.Claim_Discount|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Credibility_Factor.errors }}
                 <label class="h4-responsive" for=" {{ form.Credibility_Factor.id_for_label }}"> Credibility Factor</label>
                </td>
                <td>
                  {{ form.Credibility_Factor|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Estimated_Premium.errors }}
                 <label class="h4-responsive" for=" {{ form.Estimated_Premium.id_for_label }}">{{form.Estimated_Premium.label}}</label>
                </td>
                <td>
                  {{ form.Estimated_Premium|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Sum_Insured.errors }}
                 <label class="h4-responsive" for=" {{ form.Sum_Insured.id_for_label }}">{{form.Sum_Insured.label}}</label>
                </td>
                <td>
                  {{ form.Sum_Insured|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Risk_Premium.errors }}
                 <label class="h4-responsive" for=" {{ form.Risk_Premium.id_for_label }}">{{form.Risk_Premium.label}}</label>
                </td>
                <td>
                  {{ form.Risk_Premium|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Average_Rate_per_vehicle_member.errors }}
                 <label class="h4-responsive" for=" {{ form.Average_Rate_per_vehicle_member.id_for_label }}"> Average Rate Per Vehicle Member </label>
                </td>
                <td>
                  {{ form.Average_Rate_per_vehicle_member|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Average_Risk_Rate_per_member.errors }}
                  <label class="h4-responsive" for="{{ form.Average_Risk_Rate_per_member.id_for_label }}"> Average Risk Rate Per Member </label>
                </td>
                <td>
                  {{ form.Average_Risk_Rate_per_member|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Book_rate.errors }}
                 <label class="h4-responsive" for=" {{ form.Book_rate.id_for_label }}"> Book Rate </label>
                </td>
                <td>
                  {{ form.Book_rate|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Experience_rate.errors }}
                 <label class="h4-responsive" for=" {{ form.Experience_rate.id_for_label }}"> Experience Rate </label>
                </td>
                <td>
                  {{ form.Experience_rate|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                 <label class="h4-responsive" >Quote to Client Date</label>
                </td>
                <td>
                 <label class="h4-responsive">  {{ qout.Quote_to_Client_Date }} </label>
                </td>
              </tr>

              <tr>
                <td>
                 <label class="h4-responsive" >TAT</label>
                </td>
                <td>
                                   <label class="h4-responsive">  {{ qout.TAT }} days </label>

                </td>
              </tr>

            <tr>
                <td>
                 <label class="h4-responsive" >Revised TAT</label>
                </td>
                <td>
                                   <label class="h4-responsive">  {{ qout.Rev_TAT }} days </label>

                </td>
              </tr>
              
            </tbody>

          </table>
  					</div>
				</div>


{% else %}
        <div class="card m-t-10 m-l-10 m-r-10 m-b-10" style="display: inline-block;">
  
            <div class="card-header">
                Quotation Technicial Information
            </div>
            <div class="card-body">
                 <table>
            <tbody>
              <tr>
                <td>
                 <label class="h4-responsive" for=" {{ form.Name_of_Underwriter.id_for_label }}">{{form.Name_of_Underwriter.label}}</label>
                </td>
                <td>

                     <label class="font-weight-normal h4-responsive">{{user}}</label>
                       
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Commission.errors }}
                 <label class="h4-responsive" for=" {{ form.Commission.id_for_label }}">{{form.Commission.label}}</label>
                </td>
                <td>
                  {{ form.Commission|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Loading.errors }}
                <label class="h4-responsive" for="  {{ form.Loading.id_for_label }}">{{form.Loading.label}}</label>
                </td>
                <td>
                  {{ form.Loading|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

            

              <tr>
                <td>
                  {{ form.Claim_Discount.errors }}
                <label class="h4-responsive" for="  {{ form.Claim_Discount.id_for_label }}"> Claim Discount</label>
                </td>
                <td>
                  {{ form.Claim_Discount|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>


              <tr>
                <td>
                  {{ form.Estimated_Premium.errors }}
                 <label class="h4-responsive" for=" {{ form.Estimated_Premium.id_for_label }}">{{form.Estimated_Premium.label}}</label>
                </td>
                <td>
                  {{ form.Estimated_Premium|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Sum_Insured.errors }}
                 <label class="h4-responsive" for=" {{ form.Sum_Insured.id_for_label }}">{{form.Sum_Insured.label}}</label>
                </td>
                <td>
                  {{ form.Sum_Insured|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Risk_Premium.errors }}
                 <label class="h4-responsive" for=" {{ form.Risk_Premium.id_for_label }}">{{form.Risk_Premium.label}}</label>
                </td>
                <td>
                  {{ form.Risk_Premium|add_class:" form-control " }}
                </td>
              </tr>

          

              <tr>
                <td>
                  {{ form.Deductible.errors }}
                  <label class="h4-responsive" for="{{ form.Deductible.id_for_label }}"> Deductible </label>
                </td>
                <td>
                  {{ form.Deductible|add_class:" form-control " }}
                </td>
              </tr>


              <tr>
                <td>
                  {{ form.Aggregate_Limit.errors }}
                  <label class="h4-responsive" for="{{ form.Aggregate_Limit.id_for_label }}"> Aggregate Limit </label>
                </td>
                <td>
                  {{ form.Aggregate_Limit|add_class:" form-control " }}
                </td>
              </tr>


              <tr>
                <td>
                  {{ form.Anyone_Occurrence.errors }}
                  <label class="h4-responsive" for="{{ form.Average_Risk_Rate_per_member.id_for_label }}"> Anyone Occurrence </label>
                </td>
                <td>
                  {{ form.Anyone_Occurrence|add_class:" form-control " }}
                </td>
              </tr>


              <tr>
                <td>
                  {{ form.Book_rate.errors }}
                 <label class="h4-responsive" for=" {{ form.Book_rate.id_for_label }}"> Book Rate </label>
                </td>
                <td>
                  {{ form.Book_rate|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Experience_rate.errors }}
                 <label class="h4-responsive" for=" {{ form.Experience_rate.id_for_label }}"> Experience Rate </label>
                </td>
                <td>
                  {{ form.Experience_rate|add_class:" form-control " }}
                </td>
              </tr>

              
              <tr>
                <td>
                 <label class="h4-responsive" >Quote to Client Date</label>
                </td>
                <td>
                 <label class="h4-responsive">  {{ qout.Quote_to_Client_Date }} </label>
                </td>
              </tr>

              <tr>
                <td>
                 <label class="h4-responsive" >TAT</label>
                </td>
                <td>
                  <label class="h4-responsive">  {{ qout.TAT }} days</label>

                </td>
              </tr>
             <tr>
                <td>
                 <label class="h4-responsive" >Revised TAT</label>
                </td>
                <td>
                                   <label class="h4-responsive">  {{ qout.Rev_TAT }} days </label>

                </td>
              </tr>
              
            </tbody>

          </table>
            </div>
        </div>

        {% endif %}


      <div class="card m-t-10 m-l-10 m-r-10 m-b-10" style="display: inline-block;">

				  	<div class="card-header">
				    		Quotation Claims Analysis Information
            </div>
  					<div class="card-body">
                 <table>
            <tbody>

              <tr>
                <td>
                  {{ form.Commission_Claim.errors }}
                 <label class="h4-responsive" for=" {{ form.Commission_Claim.id_for_label }}">{{form.Commission_Claim.label}}</label>
                </td>
                <td>
                  {{ form.Commission_Claim|add_class:" form-control " }}
                </td>
                <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Extrapolated_claims.errors }}
                <label class="h4-responsive" for="  {{ form.Extrapolated_claims.id_for_label }}">{{form.Extrapolated_claims.label}}</label>
                </td>
                <td>
                  {{ form.Extrapolated_claims|add_class:" form-control " }}
                </td>

              </tr>

              <tr>
                <td>
                  {{ form.Average_claims_per_person_per_months.errors }}
                <label class="h4-responsive" for="  {{ form.Average_claims_per_person_per_months.id_for_label }}">Average claims per person per months</label>
                </td>
                <td>
                  {{ form.Average_claims_per_person_per_months|add_class:" form-control " }}
                </td>

              </tr>

              <tr>
                <td>
                  {{ form.Average_claims_per_person_per_year.errors }}
                <label class="h4-responsive" for="  {{ form.Average_claims_per_person_per_year.id_for_label }}"> Average claims per person per year</label>
                </td>
                <td>
                  {{ form.Average_claims_per_person_per_year|add_class:" form-control " }}
                </td>

              </tr>

              <tr>
                <td>
                  {{ form.Provider_discount.errors }}
                 <label class="h4-responsive" for=" {{ form.Provider_discount.id_for_label }}"> Provider discount</label>
                </td>
                <td>
                  {{ form.Provider_discount|add_class:" form-control " }}
                </td>

              </tr>

              <tr>
                <td>
                  {{ form.Trend.errors }}
                 <label class="h4-responsive" for=" {{ form.Trend.id_for_label }}">{{form.Trend.label}}</label>
                </td>
                <td>
                  {{ form.Trend|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Additional_factor.errors }}
                 <label class="h4-responsive" for=" {{ form.Additional_factor.id_for_label }}">{{form.Additional_factor.label}}</label>
                </td>
                <td>
                  {{ form.Additional_factor|add_class:" form-control " }}
                </td>

              </tr>

              <tr>
                <td>
                  {{ form.Admin_Loading.errors }}
                 <label class="h4-responsive" for=" {{ form.Admin_Loading.id_for_label }}">{{form.Admin_Loading.label}}</label>
                </td>
                <td>
                  {{ form.Admin_Loading|add_class:" form-control " }}
                </td>
                  <td>
                  %
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Total_Loading.errors }}
                 <label class="h4-responsive" for=" {{ form.Total_Loading.id_for_label }}"> Total Loading </label>
                </td>
                <td>
                  {{ form.Total_Loading|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Recommended_Premium.errors }}
                  <label class="h4-responsive" for="{{ form.Recommended_Premium.id_for_label }}"> Recommended Premium </label>
                </td>
                <td>
                  {{ form.Recommended_Premium|add_class:" form-control " }}
                </td>
              </tr>

            </tbody>

          </table>
  					</div>
				</div>

<div >
 
      <div class="card m-t-10 m-l-10 m-r-10 m-b-10" style="display: inline-block;">
            <div class="card-header">
              Attachments Info
            </div>
            <div class="card-body">
              <table>
            <tbody>
              {% comment %}
              <tr>
                <td>
                  {{ form.Data_completion_date.errors }}
                <label class="h4-responsive" for="  {{ form.Data_completion_date.id_for_label }}"> Data Completion Date </label>
                </td>
                <td>
                  {{ form.Data_completion_date|add_class:" datepicker form-control " }}
                </td>
              </tr>
              {% endcomment %}
              <tr>
                <td>
                  {{ form.Documents_Received.errors }}
                <label class="h4-responsive" for="  {{ form.Documents_Received.id_for_label }}"> Documents Received </label>
                </td>
                <td>
                  {{ form.Documents_Received|add_class:" form-control "|attr:"onchange:receivedChanged()" }}
                </td>
              </tr>
              <tr>
                <td>
                  {{ form.Name_of_pending_documents.errors }}
                 <label class="h4-responsive" for=" {{ form.Name_of_pending_documents.id_for_label }}"> Name of Pending Documents</label>
                </td>
                <td>
                  {{ form.Name_of_pending_documents|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                 <label class="h4-responsive" >Date of Receipt of Complete Documents</label>
                </td>
                <td>
                 <label class="h4-responsive">  {{ qout.Date_of_receipt_of_complete_documents }} </label>
                </td>
              </tr>
              {% comment %}
              <tr>
                <td>
                  {{ form.Date_of_receipt_of_complete_documents.errors }}
                 <label class="h4-responsive" for=" {{ form.Date_of_receipt_of_complete_documents.id_for_label }}">Date of Receipt of Complete Documents</label>
                </td>
                <td>
                  {{ form.Date_of_receipt_of_complete_documents|add_class:" datepicker form-control " }}
                </td>
              </tr>
              {% endcomment %}

            </tbody>
          </table>
            </div>
        </div>
				        <br>

              <div class="card m-t-10 m-l-10 m-r-10 m-b-10" style="display: inline-block;">



                 <div class="card-header">
              Upload Attachments 
            </div>
            <div class="card-body">
              <table>
            <tbody>
               {% for attachment in attachemnts %}
              <tr>

                <td>

                <label class="font-weight-normal h4-responsive" >{{attachment.attachment}}</label>
                </td>
                <td>
                  {% if attachment.attachment_path == "" %}
                      <label>Not Available</label>
                  {% else %}
                      <a type="button" class="btn btn-blue-grey" href="{% url 'download' attachment.id %}" Download>Download </a> 
                  {% endif %}
                </td>
              </tr>
               {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    		<br>



      <div class="card m-t-10 m-l-10 m-r-10 m-b-10" style="display: inline-block;">
  	<div class="card-header">
    					Reinsurnce Information
  					</div>
  					<div class="card-body">

               <table>
            <tbody>
              <tr>
                <td>
                  {{ form.Reinsurance_Approval_Request.errors }}
               <label class="h4-responsive" for="   {{ form.Reinsurance_Approval_Request.id_for_label }}">{{form.Reinsurance_Approval_Request.label}}</label>
                </td>
                <td>
                  {{ form.Reinsurance_Approval_Request|add_class:" form-control " }}
                </td>
              </tr>

              <tr>
                <td>
                  {{ form.Reinsurance_Request_Date.errors }}
               <label class="h4-responsive" for="   {{ form.Reinsurance_Request_Date.id_for_label }}">{{form.Reinsurance_Request_Date.label}}</label>
                </td>
                <td>
                  {{ form.Reinsurance_Request_Date|add_class:" datepicker form-control " }}
                </td>
              </tr>
              <tr>
                <td>
                  {{ form.Reinsurance_Received_Approval_Date.errors }}
                <label class="h4-responsive" for="  {{ form.Reinsurance_Received_Approval_Date.id_for_label }}">{{form.Reinsurance_Received_Approval_Date.label}}</label>
                </td>
                <td>
                  {{ form.Reinsurance_Received_Approval_Date|add_class:" datepicker form-control " }}
                </td>
              </tr>

            </tbody>
          </table>


  					</div>
				</div>
    </div>
  </div>
</div>
    {% comment %}

{{form}}

{{attachmentsform}}
{% endcomment %}

</div>
</div>
</form>
<script type="text/javascript">
 window.onbeforeunload = function () {
  return 'Are you really want to perform the action?';
 }
</script>

{% endblock %} 